//brukerKnapp - Ikon
.knapp svg + span:not(.sr-only),
.knapp span:not(.sr-only) + svg {
    width: 1.375rem;
    height: 1.5rem;
    margin-left: 0.75rem;
}

//brukerKnapp
.knapp.knapp--flat.brukerKnapp {
    color: @navMorkGra;
    margin-left: 2rem;
}

.knapp.knapp--flat.brukerKnapp:hover {
    color: #0067c5;
}

.knapp.knapp--flat.brukerKnapp:focus {
    color: #0067c5;
}

.knapp.knapp--flat.brukerKnapp:active {
    color: #fff;
}
