.lag-samtykkeskjema {
    align-self: start;
    width: 100%;

    label.skjemaelement__label {
        margin-top: 0.75rem;
    }
}

.skal-publiseres-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;

    h4 {
        margin: 0;
    }

    label.skjemaelement__label {
        margin: 0;
        margin-left: 1rem;
    }
}

.skal-publiseres-info {
    color: @navBla;
}

.input-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.input-item {
    margin: 0.2rem;
}

.legg-til-person-knapp {
    margin-left: 0.2rem;
    margin-top: 0.4rem;
}

.legg-til-person-ikon {
    margin-right: 1rem;
}

.ansvarlig-person-input-tekst {
    margin-bottom: 0;
}

.kontakt-person-input-tekst {
    margin: 2rem 0 0 0;
}

.skal-lydopptak-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h4 {
        margin: 0;
    }

    label.skjemaelement__label {
        margin: 0;
        margin-left: 1rem;
    }
}

.skal-lydopptak-info {
    color: @navBla;
}

.lagrings-tid-select {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.taushetsplikt-hjelpetekst {
    width: 31rem;
    white-space: normal;
    word-break: break-word;
}
