.lag-samtykkeskjema {
    align-self: start;
    width: 100%;

    label.skjemaelement__label {
        margin-top: 0.75rem;
    }
}

.invitasjon-overskrift {
    display: flex;
    flex-direction: row;

    h3 {
        margin: 0;
        margin-right: 1rem;
    }
}
