.lag-samtykkeskjema {
    align-self: start;
    width: 100%;
    label.skjemaelement__label {
        margin-top: 0.75rem;
    }
}

.input-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.input-item {
    margin: 0.2rem;
}

.ansvarlig-person-input-tekst {
    margin-bottom: 0;
}

.kontakt-person-input-tekst {
    margin: 2rem 0 0 0;
}

.lagrings-tid-select {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.taushetsplikt-hjelpetekst {
    width: 31rem;
    white-space: normal;
    word-break: break-word;
}
