.loggUtKnapp {
    color: black !important;
    margin-right: 2rem;
}

.loggUtKnapp:hover {
    color: #0067c5 !important;
}

.loggUtKnapp:focus {
    color: #0067c5 !important;
}

.loggUtKnapp:active {
    color: #fff !important;
}
