//Alt Primærinnhold i hovedområdet
.hovedinnhold {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

//Knapper på bunn av hovedområdet
.hovedomraade-bunn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 1.4rem 0rem;
}

//Tittel
.hovedinnhold > .typo-undertittel {
    margin-bottom: 0.5rem;
    align-self: start;
}

//Undertekst
.hovedinnhold > .typo-normal {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}
