@import (reference) '~nav-frontend-core/less/_variabler';

.hovedomradeTopp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toppIcon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    top: -0.75rem;
}

.infotekst {
    margin-bottom: 0.9375rem;
    margin-top: 1rem;
}

.divider {
    background: @navOransjeLighten60;
    height: 4px;
    width: 100%;
}
