@import (reference) "~nav-frontend-core/less/_variabler";

body {
  background: @navGraBakgrunn;
}

.hovedOmrade {
  background: @navBakgrunn;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: @navGra20;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}

#logo {
  margin: 18px;
  height: 40px;
  width: 63.67px;
  margin-left: 40px;
}
