@import (reference) "~nav-frontend-core/less/_variabler";

#hovedknapp {
  color: black;
  background: @navOransjeLighten40;
  border-color: @navOransjeLighten40;
}

#hovedknapp:hover {
  color: black;
  background: #ffd193;
  border-color: #ffd193;
}

#hovedknapp:focus {
  box-shadow: 0 0 0 3px @navOransjeDarken60;
}
