.logoutBtn1 {
    color: black !important;
    position: absolute;
    left: 2rem;
    bottom: 25%;
}

.logoutBtn1:hover {
    color: #0067c5 !important;
}

.logoutBtn1:focus {
    color: #0067c5 !important;
}

.logoutBtn1:active {
    color: #fff !important;
}
