.navn-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.navn-input {
    width: 47.5%;
}

.epost-input {
    width: 100%;
    margin-bottom: 1rem;
}

//TODO: Fjern denne !importanten !!
.checkbox-overskrift {
    align-self: flex-start;
    margin-bottom: 1.5rem !important;
    margin-top: 0.5rem !important;
}

.checkboxGruppe {
    align-self: flex-start;
}
