// samling av de to øverste navn input-feltene
.navn-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
//navn input-felt
.navn-input {
    width: 47.5%;
}

//epost input-felt
.epost-input {
    width: 100%;
    margin-bottom: 1rem;
}

//checkbox-overskrift
.checkbox-overskrift {
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    align-self: flex-start;
}
//hele checkbox-gruppen
.checkbox-gruppe {
    align-self: flex-start;
}
