.jeg-forstaar-steg-container {
    align-self: flex-start;
}

.jeg-forstaar-steg-container > .typo-undertittel {
    margin-bottom: 1.5rem;
}

//TODO: fiks denne !importanten  !!
.skjemagruppe.inputPanelGruppe .skjemaelement,
.skjemagruppe.radiogruppe .skjemaelement,
.skjemagruppe.checkboxgruppe .skjemaelement {
    margin-bottom: 2rem !important;
}
