.navn-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navn-input {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 10px);
}

label.skjemaelement__label {
    margin-top: 0.5rem;
}

.type-samtykke-infotekst {
    margin: 1rem 0 0;
}

// label.inputPanel.checkboksPanel {
//     background: none;
//     border: none;
// }

// label.inputPanel.checkboksPanel:hover {
//     border: none;
// }

button.knapp--hoved {
    background-color: @navOransjeLighten40;
    border-color: @navOransjeLighten40;
    color: black;
    text-decoration-line: underline;
}
