// Hele visningen
.mine-samtykkeskjemaer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

// Undertittel
.typo-systemtittel.listetittel {
    margin-top: 0;
    margin-bottom: 3%;
    width: 100%;
}

// Hovedomrade
.mine-samtykkeskjemaer > .hovedomrade {
    min-height: 36rem;
}

#listetittel2 {
    margin-top: 1.5rem;
}
