// Hele visningen
.opprettelse-fullfoert {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

// Hovedomrade
.opprettelse-fullfoert > .hovedomrade {
    min-height: 36rem;
}

// Hele lenke-komponentet
.lenke-komponent {
    margin: 1rem 0 3rem;
}
