// NAV
@import (reference) '~nav-frontend-typografi-style/src/index.less';
@import 'nav-frontend-core';

//VIEWS
@import './views/landingsside.less';
@import './components/samtykkeskjema/deltakerUtfyllingSteg.less';
@import './components/samtykkeskjema/jegForstårSteg.less';

body > #root > div {
    height: 100vh;
}

.app {
    .typo-normal-mixin();

    color: @navMorkGra;
    font-family: @font-family;
    line-height: @line-height-base;
}
