//Hele landingsside-visningen
.samtykkeskjema-landingsside {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

//Undertittel
.typo-systemtittel.logg-inn-info {
    margin-top: 13%;
    margin-bottom: 8%;
    white-space: nowrap;
}

.samtykkeskjema-landingsside > .hovedomrade {
    min-height: 36rem;
}
